.faqs-section {

    &.faqs-section--sparkly-dragon {
        box-sizing: border-box;
        background-color: #ffffff;
        padding: 0 20px;
        &.offerings-variable--control {
            @media (min-width: 601px) {
                padding: 10px 20px;
                background-color: transparent;
            }
        }

        .faq-section {
            margin: 0 auto;
            max-width: 100%;
            padding: 30px 0;
            border-top: solid 1px #ddd;
            width: 968px;
        }
        &.offerings-variable--control .faq-section {
            @media (min-width: 601px) {
                width:930px;
                background-color:#fff;
                padding: 20px;
                border: solid 1px #ddd;
            }
            @media (min-width: 769px) {
                border-radius:5px;
            }
        }
        
        .expand-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0;
        }
        
        .pad-spacing-top-none {
            padding-top: 0;
        }

        .spacing-bottom-md {
            padding-bottom: 20px;
        }

        .expandall-btn, .faq-title {
            align-self: baseline;
        }

        .btn-pointer {
            cursor: pointer;
        }

        .faq-section button, .faq-section button:focus, .faq-section button:hover {
            color: #36322d;
        }

        .faq-section button {
            padding-top: 5px;
        }

        .faq-ques-wrap {
            padding-top: 10px;
        }

        .btn-pointer.expandall-btn, .faq-ques-wrap .faQuestion {
            color: #005c7d!important;
        }

        .btn-pointer.expandall-btn {
            padding-right: 9px;
        }

        .expand-wrapper {
            margin-bottom: 20px;
        }

        .faqCon li {
            margin-bottom: 0;
        }

        .faq-question-head {
            font-weight: 700;
        }

        .faq-section button {
            padding-top: 5px;
        }

        .faq-item-wrap button {
            padding: 5px 9px;
        }

        .faq-item-wrap button:hover {
            padding: 5px 9px!important;
            background: #dedede;
            border-radius: 4px;
        }






        button {
            outline: 0!important;
        }

        .hide {
            display: none!important;
        }

        hr {
            border-bottom: 1px solid #cccbca;
        }

        .hr-line-mtb10 {
            margin: 10px 0;
        }

        .rel-pos {
            position: relative;
        }
        
        &.m10,
        .m10 {
            margin: 10px;
        }

        &.mb-4,
        .mb-4 {
            margin-bottom: 20px;
        }

        .mb-6 {
            margin-bottom: 30px;
        }

        .mr-1 {
            margin-right: 5px;
        }

        .mb-2 {
            margin-bottom: 10px;
        }

        .anchor-color {
            color: #005c7d;
        }

    }

}