.feedback-section {

    &.feedback-section--sparkly-dragon {
        box-sizing: border-box;
        padding: 0 20px;
        background-color: #fff;
        margin:0;
        
        &.over-the-top {
            position: relative;
            z-index: 10;
        }

        .feedback {
            margin: 0 auto;
            max-width: 100%;
            padding: 30px 0;
            width: 984px;
            border-top: solid 1px #ddd;
        }
        &.offerings-variable--control {
            @media (min-width: 601px) {
                background-color: transparent;
                padding: 10px 20px;
                .feedback {
                    width: 930px;
                    background-color: #fff;
                    padding: 20px;
                    border: solid 1px #ddd;
                }
            }
            @media (min-width: 768px) {
                .feedback {
                    border-radius: 5px;
                }
            }
        }

        .disclaimer-wrap, .seperate-products {
            margin: 10px;
        }

        .feature-title {
            font-size: 18px;
            @media (min-width: 320px) and (max-width: 374px) {
                font-size: 16px;
            }
        }






        a {
            text-decoration: none;
        }

        .mb-6 {
            margin-bottom: 30px;
        }        

    }

}