.header-text {
    display: inherit;
}

.header-text__intro {
    display:block;
    font-size: 123%;
}

.header-text__free-for {
    display:inline-block;
    &:before {
        content: '\2014';
    }
}