.support-section {
        background-color: #ffffff;
        // &.offerings-variable--control {
        //     @media (min-width: 601px) {
        //         background-color: transparent;
        //     }
        // }

        .feature-description-new {
            box-sizing: border-box;
            margin: 0 auto;
            max-width: 100%;
            padding: 12px;
            width: 984px;
            text-align: center;
            // @media (min-width: 601px) {
                text-align: left;
                padding-left:46px;
            // }
        }
        
        &.flex-container {
            display: flex;
            @media (min-width: 768px) {
                display: flex;
            }
        }
        
        .feature-title-new {
            position:relative;
            display:block;
            // margin-bottom: 25px;
        }

        .feature-img-new {
            align-self: baseline;
            margin-right: 10px;
            // @media (min-width: 601px) {
                position:absolute;
                right:100%;
            // }
        }

        .mobile-support-img {
            margin-top: 3px;
            height: 15px;
            width: 15px;
        }

        .bamboo4 {
            color: #43860d;
        }

        .help-contact {
            margin-left: 3px;
        }

        .support-timings-txt {
            color: #777;
        }
        
}