.support-section {

    &.support-section--sparkly-dragon {
        box-sizing: border-box;
        margin: 0 auto;
        max-width: 100%;
        padding: 12px;
        width: 984px;
        
        &.flex-container {
            display: flex;
            @media (min-width: 768px) {
                display: flex;
            }
        }
        
        &.feature-wrap-new {
            margin-bottom: 25px;
        }

        .feature-img-new {
            align-self: baseline;
            margin-right: 10px;
        }

        .mobile-support-img {
            margin-top: 3px;
        }

        .bamboo4 {
            color: #43860d;
        }

        .help-contact {
            margin-left: 3px;
        }

        .support-timings-txt {
            color: #777;
        }

    }

}