.container--colorgrid #smpAncHeaderWrap {
    padding: 0 50px 10px;
    position: relative;
    width: 100%;
}

.container--colorgrid .offerHeadlineWrap {
    margin: 0 auto;
    max-width: 1005px;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

.container--colorgrid .offerHeadline {
    margin-top: 0;
}