.container--colorstack {
    background-color: #fff;
}

.container--colorstack .aboveFoldCon {
    padding: 10px 0 5px;
}

.container--colorstack .chooseMemText {
    color: #54534f;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}

.container--colorstack .header-text--sparkly {
    > span {
        font-weight:bold;
    }
}