.header-style {
    &.header-style--greentop {
        min-width: 600px;
        letter-spacing: normal;
        text-transform: none;
        h1, h2, h3, h4, h5, h6 {
            letter-spacing: normal;
            text-transform: none;
        }
        
        .ftSubPageHeader .page {
            position:relative;
            padding: 20px 10px;
        }

        .ftSubPageTitle,
        .ftSubPageIntro {
            margin: 0;
            max-width: 100%;
            text-align: left;
        }

        .ftSubPageTitle {
            font-size: 52px;
            font-weight: 300;
            line-height: 1.2;
            margin-top: 5px;
            max-width: 480px;
            padding-bottom: 10px;
            position: relative;
            > .header-text--sparklydragon {
                font-size: 36px;
            }
            @media only screen and (max-width:767px) {
                font-size: 36px;
                max-width: 100%;
                > span {
                    display: inline-block;
                }
            }
        }

        .ftSubPageHeader .ancCol {
            @media only screen and (max-width:767px) {
                clear: both;
                padding-right: 0;
                width: 100%;
            }
        }

        .mainOfferSection .page {
            padding: 35px 10px;
        }

        .ftSubSectionTitle {
            @media only screen and (max-width:767px) {
                font-size: 32px;
            }
        }

        .ftSubPageIntro {
            color: #333;
            text-shadow: none;
            text-transform: uppercase;
            @media only screen and (max-width:1005px) {
                font-size: 18px;
            }
            @media only screen and (max-width:767px) {
                font-size: 18px;
            }
        }

        .header-text--prettygrid {
            .legal-text__sup {
                top: 0;
            }
        }

        .ftSubOfferSection {
            height:0;
            background-color: #f0eee9;
        }

        .pageHeroImg--header {
            display: block;
            background: url('https://www.ancestrycdn.com/mars/landing/deny/2016/freetrial-deny-herobkg.png') no-repeat;
            background-size: 100% auto;
            background-position: top right;
            position: absolute;
            height: 359px;
            /* margin-top: -115px; */
            max-width: 100%;
            width: 38%;
            bottom: -230px;
            right: 0;
            @media only screen and (max-width:767px) {
                display:none;
            }
        }
        &:not(.offerings-variable--control) .pageHeroImg--header {
            z-index: 100;
            bottom: -33px;
            width: 320px;
            height: 264px;
            border-radius: 0 0 50% 0;
        }

    }
}
