.features-grid--prettygrid {

    .page {
        position: relative;
    }

    table.offerCompareTable {
        border-collapse: separate;
        border-spacing: 4px;
    }

    .offerCompareTable th, 
    .offerCompareTable td {
        padding: 20px;
        vertical-align: middle;
    }

    .offerCompareTable td {
        background-color: #fff;
    }

    .legal-text__paragraph.legal-text__paragraph--newspapers-basic {
        margin-bottom: 0;
    }





    .bgColor-usdiscovery {
        background-color: #0079a3;
        &.bgColor-usdiscovery--offerings-control {
            background-color: #9CBE30;
            @media (min-width: 769px) {
                background-color: #9CBE30;
            }
        }
    }

    .bgColor-worldexplorer {
        background-color: #6ba410;
        &.bgColor-worldexplorer--offerings-control {
            background-color: #1B88B0;
            @media (min-width: 769px) {
                background-color: #64AFCA;
            }
        }
    }

    .bgColor-allaccess {
        background-color: #655586;
        &.bgColor-allaccess--offerings-control {
            background-color: #60527E;
            @media (min-width: 769px) {
                background-color: #60527E;
            }
        }
    }

    .coloraltblue {
        color: #03678b;
    }

}