.features-grid--prettygrid {
    padding-bottom: 20px;
    @media (min-width: 601px) {
        background-color: #fff;
    }

    .page {
        position: relative;
        width:100%;
        max-width:1000px;
    }

    table.offerCompareTable {
        border-collapse: separate;
        border-spacing: 4px;
    }

    .offerCompareTable th, 
    .offerCompareTable td {
        padding: 20px;
        vertical-align: middle;
    }

    .offerCompareTable td {
        background-color: #fff;
    }

    .legal-text__paragraph.legal-text__paragraph--newspapers-basic {
        margin-bottom: 0;
    }





    .bgColor-usdiscovery {
        background-color: #0079a3;
    }

    .bgColor-worldexplorer {
        background-color: #6ba410;
    }

    .bgColor-allaccess {
        background-color: #655586;
    }

    .coloraltblue {
        color: #03678b;
    }

}