.features-grid--prettygrid {
    padding-bottom: 20px;
    @media (min-width: 601px) {
        background-color: #fff;
    }

    .page {
        position: relative;
        width:100%;
        max-width:1000px;
    }

    table.offerCompareTable {
        border-collapse: separate;
        border-spacing: 4px;
    }

    .offerCompareTable th, 
    .offerCompareTable td {
        padding: 20px 10px;
        vertical-align: middle;
        flex-basis:0;
        flex-grow:1;
    }

    .offerCompareTable td {
        background-color: #fff;
    }

    .legal-text__paragraph.legal-text__paragraph--newspapers-basic {
        margin-bottom: 0;
    }

    tr {
        display:flex;
        .package-heading-cell {
            display:flex;
            color: #ffffff;
            font-size:20px;
            text-align: center;
            background-color:#767676;
            align-items: center;
            justify-content: center;
            &.package-heading-cell--smaller {
                font-size:15px;
            }
            &.package-heading-cell--white {
                color: #181a1c;
                background-color:#ffffff;
                border: 1px solid #767676;
            }
            &.package-heading-cell--blue {
                background-color:#0079a3;
            }
            &.package-heading-cell--lightgreen {
                color:#181a1c;
                font-size:94%;
                background-color: #b7d94c80;
            }
            &.package-heading-cell--green {
                background-color:#6ba410;
            }
            &.package-heading-cell--purple {
                background-color:#655586;
            }
        }
        .feature-text {
            flex-basis: 40%;
        }
        .inclusion-wrapper {
            display:flex;
            justify-content: center;
            align-items: center;
        }
    }

    

    .coloraltblue {
        color: #03678b;
    }

}