.features-grid--sparklydragon {
    background-color: #ffffff;

    a {
        text-decoration:none;
    }

    .comparison-chart {
        max-width: 500px;
        width:calc(100% - 20px);
        margin: 0 auto;
        padding: 20px 0;
        @media (min-width: 768px) {
            max-width:1000px;
            // padding: 20;
        }

        table {
            table-layout: fixed;
            // @media (min-width: 768px) {
                border-collapse: collapse;
                width: 100%;
            // }
            tr {
                td, th {
                    // @media (min-width: 768px) {
                        border: 1px solid #ddd;
                        padding: 8px;
                        @media (min-width: 768px) {
                            text-align: left;
                        }
                    // }
                    &::first-child {
                        @media (min-width: 768px) {
                            padding-left: 0;
                        }
                    }
                }
                th {
                    // @media (min-width: 768px) {
                        border-bottom: 0;
                        border-top-width:0;
                        &.rec-acc {
                            border-right-width:0;
                            height:90px;
                        }
                        // &.records-heading-cell {
                        //     height:44px;
                        //     width:100%;
                        //     padding:0;
                        //     background-image: linear-gradient(to right,#c5ecf9,#c5ecf9 33.33%);
                        // }
                        // &.triangle-start {
                        //     border-left-width:0;
                        //     border-right-width:0;
                        //     ~ th {
                        //         border-left-width:0;
                        //         border-right-width:0;
                        //     }
                        //     &:before {
                        //         position: absolute;
                        //         content: " ";
                        //         position: absolute;
                        //         width: 0;
                        //         height: 0;
                        //         left: 0;
                        //         bottom: 0;
                        //         background-image: linear-gradient(to right,#c5ecf9,#c5ecf9 33.33%,#e0f2c4 33.33%,#e0f2c4 66.66%,#dbd1ee 66.66%);
                        //         width: calc(300% + 2px);
                        //         height: 177px;
                        //         clip-path: polygon(100% 75%,0 100%,100% 100%);
                        //         -webkit-clip-path: polygon(100% 75%,0 100%,100% 100%);
                        //     }
                        //     &.triangle-start--usdiscovery.triangle-start--worldexplorer.triangle-start--allaccess:before {
                        //         background-image: linear-gradient(to right,#c5ecf9,#c5ecf9 33.33%,#e0f2c4 33.33%,#e0f2c4 66.66%,#dbd1ee 66.66%);
                        //     }
                        //     &.triangle-start--usdiscovery.triangle-start--worldexplorer:not(.triangle-start--allaccess):before {
                        //         background-image: linear-gradient(to right,#c5ecf9,#c5ecf9 50%,#e0f2c4 50%);
                        //         width: calc(200% + 2px);
                        //     }
                        //     &.triangle-start--usdiscovery:not(.triangle-start--worldexplorer).triangle-start--allaccess:before {
                        //         background-image: linear-gradient(to right,#c5ecf9,#c5ecf9 50%,#dbd1ee 50%);
                        //         width: calc(200% + 2px);
                        //     }
                        //     &:not(.triangle-start--usdiscovery).triangle-start--worldexplorer.triangle-start--allaccess:before {
                        //         background-image: linear-gradient(to right,#e0f2c4,#e0f2c4 50%,#dbd1ee 50%);
                        //         width: calc(200% + 2px);
                        //     }
                        // }
                    // }

                    &.package-heading {
                        // display:flex;
                        position:relative;
                        border: none;
                        color: #767676;
                        font-size: 14px;
                        font-weight: bold;
                        text-align: center;
                        vertical-align: baseline;
                        border: none;
                        @media (min-width: 400px) {
                            font-size:18px;
                        }
                        &.package-heading--blue {
                            color:#0079a3;
                        }
                        &.package-heading--lightgreen {
                            // color:#181a1c;
                            // font-size:94%;
                            color: #9cbe31;
                        }
                        &.package-heading--green {
                            color:#6ba410;
                        }
                        &.package-heading--purple {
                            color:#655586;
                        }
                        > span {
                            display:flex;
                            flex-wrap:wrap;
                            justify-content:center;
                            .package-icon {
                                display:block;
                                width:100%;
                                margin-bottom: 5px;
                            }
                        }

                        .package-icon {
                            width:20px;
                            height:20px;
                            .black-fill {
                                fill: #767676;
                            }
                            &.package-icon--white {
                                .white-fill {
                                    fill: #181a1c;
                                }
                                .black-fill {
                                    fill: #ffffff;
                                }
                            }
                            &.package-icon--blue {
                                .black-fill {
                                    fill: #0079a3;
                                }
                            }
                            &.package-icon--lightgreen {
                                .black-fill {
                                    fill: #9cbe31;
                                }
                            }
                            &.package-icon--green {
                                .black-fill {
                                    fill: #6ba410;
                                }
                            }
                            &.package-icon--purple {
                                .black-fill {
                                    fill: #655586;
                                }
                            }
                        }
                    }

                    &.records-heading-cell {
                        position:relative;
                        color: #767676;
                        background-color:#ececec;
                        // border: none;
                        &.records-heading-cell--white {
                            color: #ffffff;
                        }
                        &.records-heading-cell--blue {
                            color: #0079a3;
                            background-color:#c5ecf9;
                        }
                        &.records-heading-cell--lightgreen {
                            color:#9cbe31;
                            background-color: #b7d94c26;
                        }
                        &.records-heading-cell--green {
                            color: #6ba410;
                            background-color:#e0f2c4;
                        }
                        &.records-heading-cell--purple {
                            color: #655586;
                            background-color:#dbd1ee;
                        }
                        .triangle {
                            position:absolute;
                            z-index:2;
                            left:0;
                            top:0;
                            display:block;
                            width:100%;
                            height:100%;
                            @media (min-width: 769px) {
                                border: 40px solid #ffffff;
                                border-width: 40px 0 0 0;
                            }
                            svg {
                                display:block;
                                width:100%;
                                height:100%;
                                .black-fill {
                                    fill:#ffffff;
                                }
                            }
                        }
                        .record-amount-text {
                            position: absolute;
                            z-index:3;
                            font-size: 14px;
                            font-weight:bold;
                            width: 75px;
                            padding: 5px;
                            &.record-amount-text--least {
                                bottom: 5px;
                                text-align: left;
                                left: 0;
                            }
                            &.record-amount-text--most {
                                bottom: 45px;
                                text-align: right;
                                right: 0;
                            }

                        }
                        // .least-rec-txt {
                        //     // @media (min-width: 768px) {
                        //         position: absolute;
                        //         z-index:3;
                        //         bottom: 5px;
                        //         font-size: 14px;
                        //         width: 75px;
                        //         text-align: left;
                        //         left: 0;
                        //     // }
                        //     @media (min-width: 1005px) {
                        //         // left:140px;
                        //     }
                        // }
                    
                        // .most-rec-txt {
                        //     // @media (min-width: 768px) {
                        //         position: absolute;
                        //         z-index:3;
                        //         bottom: 47px;
                        //         font-size: 14px;
                        //         text-align: right;
                        //         right: 0;
                        //         // left: 70px;
                        //     // }
                        //     @media (min-width: 1005px) {
                        //         // left: 140px;
                        //     }
                        // }
                    }
                }
                &.table-title {
                    th {
                            &:first-child {
                                border-left: 0;
                                @media (min-width: 768px) {
                                    width: 368px;
                                }
                            }
                            &:last-child {
                                border-right: 0;
                            }
                        // }
                    }
                }
                td {
                    text-align: center;
                    text-align: -webkit-center;
                    &:first-child {
                        // @media (min-width: 768px) {
                            border-left: none;
                        // }
                        &.feature-cell--icon-left {
                            position:relative;
                            padding: 20px 10px 10px 10px;
                            @media (min-width: 768px) {
                                padding: 10px 10px 10px 28px;
                            }
                            .feature-img-new {
                                display:inline-block;
                                margin: 0 10px 0 0;
                                width: 15px;
                                height: 15px;
                                @media (min-width: 768px) {
                                    position:absolute;
                                    display:block;
                                    top:12px;
                                    left:0;
                                    width: 18px;
                                    height: 18px;
                                    margin: 0;
                                }
                            }
                        }
                        @media (min-width: 768px) {
                            text-align: left;
                        }
                    }
                    &:last-child {
                        // @media (min-width: 768px) {
                            border-right: none;
                        // }
                    }
                    span.table-row-head {
                        // @media (min-width: 768px) {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                        // }
                    }
                }
                &:nth-child(2) td {
                    // @media (min-width: 768px) {
                        border-top: none;
                    // }
                }
                &.mobile-row {
                    th, td {
                        border: none;
                    }
                    &.mobile-row--feature-text {
                        td {
                            padding: 10px;
                        }
                    }
                    &.mobile-row--record-access {
                        th {
                            padding-top:32px;
                        }
                        ~.mobile-row--feature-text {
                            td {
                                padding: 20px 10px;
                            }
                        }
                    }
                    &.mobile-row--feature-checks {
                        padding-bottom:10px;
                    }
                }
            }
        }
    }



    .align-base {
        // @media (min-width: 768px) {
            vertical-align: baseline;
        // }
    }

    .align-mibble {
        // @media (min-width: 768px) {
            vertical-align: middle;
        // }
    }

    // .tb-plan-head {
    //     @media (min-width: 1005px) {
    //         display: flex;
    //         align-items: center;
    //         justify-content: space-around;
    //         justify-content: space-evenly;
    //     }
    // }

    // .usrecords-img {
    //     width: 30px;
    //     height: 18px;
    //     path, path + circle {
    //         fill: #0079a3;
    //     }
    // }

    // .usnintrecords-img {
    //     width: 20px;
    //     height: 20px;
    //     path, path + circle {
    //         fill: #6ba410;
    //     }
    // }

    // .allaccess-img {
    //     width: 30px;
    //     height: 23px;
    //     path, path + circle {
    //         fill: #655586;
    //     }
    // }

    .example-right-align {
        float: right;
        padding-right: 1px;
    }

    .plan-para-color {
        color: #777;
    }
    
    .inclusion-wrapper {
        position: relative;
        display: inline-block;
        width: 90px;
        max-width:100%;
        height: 40px;
        border-radius: 10px;
        background-color: transparent;
        > svg.inclusion-icon { 
            position: absolute;
            top: calc(50% - 9px);
            bottom: calc(50% - 9px);
            left: 0;
            right: 0;
            vertical-align: bottom;
            width: 18px;
            height: 18px;
            margin: auto auto;
            .black-fill {
                fill:#d6d5d5;
            }
        }
        &.inclusion-wrapper--checkicon {
            &.inclusion-wrapper--white {
                background-color: #ffffff;
                border:1px solid #767676;
                > svg.inclusion-icon {
                    .black-fill {
                        fill:#767676;
                    }
                }
            }
            &.inclusion-wrapper--grey {
                background-color:#ececec;
                > svg.inclusion-icon {
                    .black-fill {
                        fill:#767676;
                    }
                }
            }
            &.inclusion-wrapper--blue {
                background-color:#c5ecf9;
                > svg.inclusion-icon {
                    .black-fill {
                        fill:#0079a3;
                    }
                }
            }
            &.inclusion-wrapper--lightgreen {
                background-color: #b7d94c26;
                > svg.inclusion-icon {
                    .black-fill {
                        fill:#9cbe31;
                    }
                }
            }
            &.inclusion-wrapper--green {
                background-color:#e0f2c4;
                > svg.inclusion-icon {
                    .black-fill {
                        fill:#6ba410;
                    }
                }
            }
            &.inclusion-wrapper--purple {
                background-color:#dbd1ee;
                > svg.inclusion-icon {
                    .black-fill {
                        fill:#655586;
                    }
                }
            }
        }
    }

    .usdiscovery-bg {
        background-color: #f1f7db;
        &:not(.cross-bg) {
            background-color: #c5ecf9;
        }
        position: relative;
        display: inline-block;
        > svg { 
            position: absolute;
            top: calc(50% - 9px);
            bottom: calc(50% - 9px);
            left: 0;
            right: 0;
            margin: auto auto;
            width: 18px;
            height: 18px;
        }
    }

    .worldexplorer-bg {
        position: relative;
        background-color: #eff9f9;
        &:not(.cross-bg) {
            background-color: #e0f2c4;
        }
        display: inline-block;
        > svg {
            position: absolute;
            top: calc(50% - 9px);
            bottom: calc(50% - 9px);
            left: 0;
            right: 0;
            margin: auto auto;
            width: 18px;
            height: 18px;
        }
    }

    .allaccess-bg {
        position: relative;
        background-color: #dcdbe0;
        &:not(.cross-bg) {
            background-color: #dbd1ee;
        }
        display: inline-block;
        > svg {
            position: absolute;
            top: calc(50% - 9px);
            bottom: calc(50% - 9px);
            left: 0;
            right: 0;
            margin: auto auto;
            width: 18px;
            height: 18px;
        }
    }

    .cross-bg {
        background-color: #fff;
    }

    .icon-check-fill-usdis {
        fill: #0079a3;
    }

    .icon-check-fill-worldex {
        fill: #6ba410;
    }

    .icon-check-fill-allacc {
        fill: #655586;
    }

    .plan-comp-check-icon, 
    .plan-comp-cross-icon {
        // @media (min-width: 768px) {
            vertical-align: bottom;
        // }
    }

    .table-newspapers-img {
        display:block;
        width: 138px;
        height: 24px;
        margin: auto;
        @media (min-width: 768px) {
            margin:3px 0 0 0;
        }
    }

    .table-fold-img {
        display:block;
        width: 103px;
        height: 24px;
        margin: auto;
        @media (min-width: 768px) {
            margin:3px 0 0 0;
        }
    }

    .flex-container {
        display: flex;
    }

    .flex-auto {
        flex: 0 0 auto;
    }

    .tooltip {
        position: relative;
        display: inline-block;
        color: #006080;
        > img {
            width: 12px;
            height: 12px;
        }
        .tooltiptext {
            visibility: hidden;
            position: absolute;
            width: 230px;
            background-color: #ffffff;
            color: #000000;
            text-align: center;
            padding: 5px 0;
            border-radius: 6px;
            z-index: 1;
            opacity: 0;
            transition: opacity .6s;
            padding: 10px;
            box-shadow: 0 2px 9px rgba(0, 0, 0, 0.25);
            text-align: left;
            .legal-text__paragraph {
                padding: 0px 0px 0 15px;
                .legal-text__sup {
                    top: 0;
                    left: -10px;
                }
            }
        }
        &:hover {
            .tooltiptext {
                display: block;
                visibility: visible;
                opacity: 1;
            }
        }
    }

    .tooltip-top {
        bottom: 125%;
        margin-left: -132px;
        &:after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 10px;
            border-style: solid;
            border-color: #fff transparent transparent transparent;
        }
    }

    .basicsubs-wrap {
        color: #181a1c;
    }

    .plan-inclusions-container {
        position: relative;
    }

    .plan-inclusions {
        margin: 10px;
    }

    .plan-inc-head {
        display: flex;
        align-items: baseline;
        // @media (min-width: 768px) {
            max-width: 354px;
            justify-content: space-between;
        // }
    }

    .planTitle.inclusions-title {
        font-size: 20px!important;
        // @media (min-width: 768px) {
            font-size: 20px!important;
        // }
    }

    .plan-inc-head .inclusions-title {
        flex: 0 0 auto;
        margin-right: 70px;
    }

    .showall-plan-inc .toggle-plan-inclusions-txt {
        text-decoration: none!important;
    }

    .feature-wrap-new {
        margin-bottom: 25px;
    }

    .feature-cell--icon-left {
        // padding-left:28px;
    }

    .feature-img-new {
        align-self: baseline;
        margin-right: 10px;
    }

    .feature-subtitle-new {
        margin-top: 5px;
        color: #777;
    }

    .mobile-support-img {
        margin-top: 3px;
    }

    .help-contact {
        // @media (min-width: 768px) {
            margin-left: 3px;
        // }
    }

    .support-timings-txt {
        color: #777;
    }
    
    .includedInPlanText {
        @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;
        }
    }
    
    .showHideBtn {
        display:inline-block;
        font-weight:400;
        margin-left:20px;
    }

    .legal-text__paragraph.legal-text__paragraph--newspapers-basic {
        margin: 0;
        .legal-text__sup {
            display:none;
        }
    }







    button {
        outline: 0!important;
    }

    .btn-pointer {
        cursor: pointer;
    }

    .features-grid__package-icon {

    }
    .color-usdiscovery {
        color: #0079a3;
    }

    .color-worldexplorer {
        color: #6ba410;
    }

    .color-allaccess {
        color: #655586;
    }

    .rel-pos {
        position: relative;
    }

    .textCenter {
        text-align: center;
    }

    .hide {
        display: none!important;
    }

    .show768 {
        @media (min-width: 768px) {
            display: block!important;
        }
    }

    .hidden-lg-up {
        @media (min-width: 1005px) {
            display: none!important;
        }
    }

    .hidden-md-up {
        @media (min-width: 768px) {
            display: none!important;
        }
    }
    
    hr {
        border-bottom: 1px solid #cccbca;
    }

    .hr-line {
        margin: 10px;
        border-bottom: solid 1px #cccbca;
    }

    .hr-gradient-line {
        border: none;
        background: linear-gradient(to right,#cccbca,rgba(195,195,195,0));
        height: 1px;
    }

    .mt-0 {
        margin-top: 0;
    }

    .mr-1 {
        margin-right: 5px;
    }

    .mb-4 {
        margin-bottom: 20px;
    }

}