.container--bonsaigrid .offerGrid .greenTxt .phoneNumb,
.container--bonsaigrid .offerGrid .greenTxt small {
    color: #425700;
}

.container--bonsaigrid .offerGrid .orangeTxt {
    color: #dc4c00;
}

.container--bonsaigrid .offerGrid .redTxt {
    margin-bottom: 8px;
}

// .container--bonsaigrid .offerGrid .headlines {
//     padding: 20px 50px 0 0;
// }

// .container--bonsaigrid .offerGrid .headlines sup {
//     font-size: 61%;
// }

// .container--bonsaigrid .offerGrid .documentsImg {
//     background: url("https://www.ancestrycdn.com/mars/landing/offer/us/documents.png") no-repeat scroll 0 0 transparent;
//     background-size: 100% auto;
//     height: 261px;
//     position: absolute;
//     right: 0;
//     top: 0;
//     width: 100%;
// }

// .ie8 .container--bonsaigrid .offerGrid .documentsImg {
//     right: -25px;
//     width: 271px;
// }

.container--bonsaigrid .priceGrid {
    margin-bottom: 25px;
}

// .container--bonsaigrid .priceGrid .ancCol1,
// .container--bonsaigrid .priceGrid .ancCol {
//     position: relative;
// }

.container--bonsaigrid .priceGrid .ancColRow {
    margin-top: 0;
}

.container--bonsaigrid .priceGrid .ctaCol {
    margin-top: 0;
    padding-left: 40px;
}

.container--bonsaigrid .priceGrid .ctaCol .arrow {
    border-bottom: 90px solid transparent;
    border-left: 38px solid #b8d94c;
    border-top: 90px solid transparent;
    height: 0;
    left: -13px;
    position: absolute;
    top: 135px;
    width: 0;
}

.container--bonsaigrid .priceGrid .ctaCol .ctaBox {
    margin-top: 202px;
}

.container--bonsaigrid .priceGrid .ctaCol .ctaBox .ancBtn {
    margin-bottom: 90px;
}

.container--bonsaigrid .priceGrid #myAccountInfo {
    padding-left: 25px;
    position: relative;
}

.container--bonsaigrid .priceGrid #myAccountInfo .oldphone {
    background: url("https://www.ancestrycdn.com/mars/landing/offer/us/pricing_nov2011_trans.png") no-repeat scroll 0 -88px transparent;
    height: 70px;
    left: -34px;
    position: absolute;
    width: 52px;
}

.container--bonsaigrid .priceGrid #myAccountInfo .phoneNumb {
    white-space: nowrap;
}

.priceTableCon {
    padding: 0 12px 0 40px;
}

.container--bonsaigrid .priceTable {
    border-collapse: inherit;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 1;
}

.priceTable th {
    padding: 0;
}

.container--bonsaigrid .priceTable div.bold,
.container--bonsaigrid .priceTable h2,
.container--bonsaigrid .priceTable h3 {
    margin-top: 0;
}

.container--bonsaigrid .priceTable p {
    line-height: 16px;
}

.container--bonsaigrid .priceTable .ancCol1 {
    margin-top: 0;
}

.container--bonsaigrid .priceTable .colWrap {
    border: 1px solid #b2aa9b;
    border-width: 1px 0 0 1px;
}

.container--bonsaigrid .priceTable .colWrap.worldPlusRow {
    border-bottom-width: 1px;
}

.container--bonsaigrid .priceTable .half320.colWrap {
    text-align: center;
}

.container--bonsaigrid .priceTable .half320.colWrap.bestCol {
    background: #fff;
    border-right-width: 1px;
    box-shadow: 0 6px 13px rgba(1, 1, 1, .4);
}

.container--bonsaigrid .priceTable .packageCol.colWrap {
    border-radius: 5px 0 0 5px;
    padding: 35px 8px 35px 40px;
}

.container--bonsaigrid .priceTable .packageCol.worldPlusRow {
    padding: 15px 8px 30px 40px;
}

.container--bonsaigrid .priceTable .bestCol {
    z-index: 1000;
}

.container--bonsaigrid .priceTable .logo {
    background: url('https://www.ancestrycdn.com/mars/landing/offer/us/offer-membership-icons.png') no-repeat scroll 0 0 transparent;
    height: 77px;
    left: -46px;
    margin-top: -30px;
    position: absolute;
    top: 50%;
    width: 81px;
}

.container--bonsaigrid .priceTable .worldRow .logo {
    background-position: 0 -78px;
}

.container--bonsaigrid .priceTable .worldPlusRow .logo {
    background-position: 0 -157px;
}

.container--bonsaigrid .priceTable .colHeading {
    background-color: rgba(134, 202, 227, 0.1);
    border: 1px solid #b2aa9b;
    border-bottom-width: 0;
    border-radius: 5px 0 0 0;
    border-right-width: 0;
    color: #37494E;
    display: block;
    line-height: 14px;
    margin-top: 8px;
    padding: 7px 0;
    text-align: center;
}

.container--bonsaigrid .priceTable .bestCol .colHeading {
    background-color: rgba(134, 202, 227, 0.4);
    border-radius: 5px 5px 0 0;
    border-right-width: 1px;
    box-shadow: 0 4px 13px rgba(1, 1, 1, .4);
    color: #37494E;
    margin-top: 0;
    padding: 11px 0;
    width: 100%;
}

.usRow {
    background-color: #fffef0;
}

.weRow {
    background-color: #f3f6d8;
}

.aaRow {
    background-color: #fdf9d8;
}

.container--bonsaigrid .priceTable .packageCol.worldRow:before,
.container--bonsaigrid .priceTable .packageCol.worldPlusRow:before {
    border-left-color: #f8f7f3;
}

.container--bonsaigrid .priceTable .packageCol.worldRow:after,
.container--bonsaigrid .priceTable .packageCol.worldPlusRow:after {
    top: -5px;
}

.aaRow td,
.aaRow th {
    position: relative;
}

.aaRow td .bottomRow,
.aaRow th .bottomRow {
    background-color: #fdf9d8;
    border: 1px solid #b2aa9b;
    border-width: 0 0 1px 1px;
    bottom: -5px;
    height: 5px;
    left: -1px;
    position: absolute;
    width: calc(100% + 1px);
}

.aaRow th .bottomRow.packageCol {
    border-radius: 0 0 0 5px;
}

.aaRow .bottomRow.bestCol {
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    border: 1px solid #b2aa9b;
    border-width: 0 1px 1px;
    bottom: -10px;
    height: 13px;
    position: absolute;
    width: calc(100% + 2px);
    z-index: 10;
}

.worldPlusRow ul {
    font-size: 14px;
    list-style-type: disc;
    padding-left: 20px;
    padding-top: 5px;
}

.priceLabel span {
    display: block;
}

label:not(.ancBtn) {
    font-weight: 400;
}