.offerings-style {
    &.offerings-style--colorstack {
        background-color: #fff;
        padding-bottom: 30px;

        .all-options {

        }

        .all-options__durations {
            display:block;
            padding: 0 0 5px 0;
            @media only screen and (min-width:601px) {
                padding: 20px 0;
            }
        
            .pill-buttons {
                display: block;
                grid-auto-columns: 35px;
                padding: 0 10px;
                position: relative;
                overflow: hidden;
                text-align: center;
                button {
                    position:relative;
                    border: 1px solid #54534f;
                    border-top-left-radius: 15px;
                    border-bottom-left-radius: 15px;
                    border-top-right-radius: 15px;
                    border-bottom-right-radius: 15px;
                    padding: 7px;
                    text-align: center;
                    width: 147px;
                    margin: 1px -10px;
                    &.privateRow {
                        display:block;
                        margin: 1px auto;
                    }
                    &.inactivePill {
                        background-color: #fff;
                        color: #54534f;
                        z-index:1;
                    }
                    &.activePill {
                        background-color: #54534f;
                        color: #fff;
                        z-index: 10;
                        &.iconCheck:before {
                            font-size: 72%;
                            margin-left: -15px;
                            margin-right: 10px;
                        }
                    }
                    > span {
                        display:block;
                        font-size:.72em;
                        margin:-2px;
                    }
                }
            }
    
            .ldbm-buttons {
                text-align: center;
                width: 190px;
                margin: 5px 0 5px calc(50% - 31px);
                > button {
                    color: #1B88B0;
                    font-size: 14px;
                    text-decoration: underline;
                    font-weight: bold;
                    background:transparent;
                    border:none;
                }
            }
        }

        .all-options__packages {

            .package-row {
                position: relative;
                overflow: hidden;
                display: block;
                background-color: #767676;
                width: 100%;
                height: auto;
                margin-bottom: 2px;
                &.package-row--white {
                    background-color: #fff;
                    border: 1px solid #a9a9a9;
                    border-width: .5px 0;
                }
                &.package-row--blue {
                    background-color: #0079a3;
                }
                &.package-row--green {
                    background-color: #6ba410;
                }
                &.package-row--purple {
                    background-color: #655586;
                }
            }
    
            .package-row__label {
                position: relative;
                display:flex;
                padding:0;
                input {
                    display:none;
                    width:100%;
                    height:100%;
                    opacity:0;
                }
            }
    
            .package-row__left-image-container {
                position: relative;
                display: flex;
                width: 80px;
                background-color: rgba(255,255,255,0.42);
                align-items: center;
                justify-content: center;
                &.package-row__left-image-container--white {
                    background-color: #a9a9a9
                }
                .package-row__left-image {
                    position:relative;
                    display:flex;
                    width:72%;
                    height:0;
                    padding-bottom:72%;
                    align-items: center;
                    justify-content: center;
                    border-radius:50%;
                    .package-icon {
                        position:absolute;
                        top:0;
                        left:0;
                        display:block;
                        width: 100%;
                        height: auto;
                        .white-fill {
                            
                        }
                        .black-fill {
                            fill: #767676;
                        }
                        &.package-icon--white {
                            .white-fill {
                                fill: #181a1c;
                            }
                            .black-fill {
                                fill: #fff;
                            }
                        }
                        &.package-icon--blue {
                            .black-fill {
                                fill: #0079a3;
                            }
                        }
                        &.package-icon--green {
                            .black-fill {
                                fill: #6ba410;
                            }
                        }
                        &.package-icon--purple {
                            .black-fill {
                                fill: #655586;
                            }
                        }
                    }
                }
            }
    
            .package-row__info {
                position:relative;
                display:flex;
                flex-wrap:wrap;
                width:calc(100% - 80px);
                color:#fff;
                padding: 12px;
                &.package-row__info--white {
                    color: #181a1c;
                }
            }
    
            .package-row__desc-name {
                display: block;
                width: calc(100% - 25px);
                font-weight: 200;
                line-height: 20px;
                border-bottom: 1px solid #fff;
                font-size: 20px;
                padding: 0 0 12px 0;
                &.package-row__desc-name--white {
                    border-color: #181a1c;
                }
                @media only screen and (min-width:350px) {
                    width: calc(100% - 45px);
                }
                * {
                    display: inline;
                }
                strong {
                    font-size: 17px;
                    margin-top: 3px;
                    display: inline-block;
                    width: 184px;
                    @media only screen and (min-width:450px) {
                        width:auto;
                    }
                }
                .legal-text__sup {
                    top: -0.6em;
                    line-height:15px;
                }
            }
    
            .package-row__arrow {
                display:block;
                width: 25px;
                font-size: 30px;
                line-height: 15px;
                text-align:right;
                margin-right: 0;
                @media only screen and (min-width:350px) {
                    width: 45px;
                }
            }

            .package-row__price-text {
                padding: 10px 10px 0 0;
                min-width: 60%;

                > span {
                    display: block;
                    font-size: 13px;
                    font-weight: 400;
                    line-height:161%;
                    &:first-of-type {
                        font-size: 16px;
                        font-weight: 600;
                    }
                    .price-text__light {
                        font-weight: 400;
                    }
                    .price-text__heavy {
                        font-weight: 600;
                    }
                }
            }

            .package-row__support-text {
                display:flex;
                width: 40%;
                border-left: 1px solid #fff;
                font-size: 14px;
                font-weight: 200;
                height: 40px;
                line-height: 123%;
                margin-top: 10px;
                padding: 0 5px 0 10px;
                align-items: center;
                > strong {
                    font-size: 16px;
                }
            }

        }

    }
}