
.container--greentop .ftSubOfferSection {
    margin-top:15px;
}

.container--greentop .ftSubOfferForm {
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    text-align: center;
    width: 480px;
}

.container--greentop .mainOfferSection .ftSubOfferForm {
    margin: 0;
}

.container--greentop .rad2OfferStacked {
    text-align: left;
}

.container--greentop .radOffer:first-child {
    margin-top: 0;
}

.container--greentop .radOffer {
    background-color: #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    line-height: normal;
    margin-top: 15px;
    padding: 15px 10px 15px 210px;
    position: relative;
}

.container--greentop .radOffer.noSmlTxt {
    padding-bottom: 22px;
    padding-top: 23px;
}

.container--greentop .radHeadline {
    text-shadow: none;
}

.container--greentop .lrgCheckRadio.iconCheck:before {
    font-size: 20px;
}

.container--greentop .savingsFlag {
    color: #5e6770;
    background-color: #dedede;
    display: block;
    left: 62px;
    line-height: normal;
    margin: 0;
    padding: 3px 7px;
    position: absolute;
    top: -11.5px;
    &.savingsFlag--best {
        color:#ffffff;
        background-color: #1b88b0;
    }
}

.container--greentop .radCheckWrap {
    display: block;
    left: 15px;
    margin-top: -21px;
    position: absolute;
    top: 50%;
}

.container--greentop .radCheckTxt,
.container--greentop .lrgCheckRadio {
    display: inline-block;
    vertical-align: middle;
}

.container--greentop .coloralt1 {
    color: #6a6865;
}

.container--greentop .radCheckHidden {
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
}

.container--greentop .radCheckbox {
    height: 1px;
    line-height: 0;
    margin: 2px;
    opacity: 0;
    overflow: hidden;
    width: 1px;
}

.container--greentop .lrgCheckRadio {
    background: #fff;
    border: 3px solid #bbb0a3;
    border-radius: 50%;
    font-size: 19px;
    margin-right: 10px;
    padding: 18px;
    position: relative;
}

.container--greentop .selectedOption .lrgCheckRadio {
    border-color: #695e48;
    color: #695e48;
}

.container--greentop .lrgCheckRadio.iconCheck:before {
    display: none;
    left: 50%;
    line-height: normal;
    margin-left: -0.5em;
    margin-top: -0.5em;
    position: absolute;
    top: 50%;
}

.container--greentop .selectedOption .lrgCheckRadio.iconCheck:before {
    display: block;
}

.container--greentop .ftSubOfferForm .ancBtn.xlrg {
    font-size: 30px;
    line-height: 43.8px;
    margin-top: 10px;
    min-height: 80px;
    padding: 19px 28px 17.5px;
}

.container--greentop .pageHeroImg--offering {
    background: url('https://www.ancestrycdn.com/mars/landing/deny/2016/freetrial-deny-herobkg.png') no-repeat;
    background-size: 100% auto;
    float: right;
    height: 359px;
    margin-top: -166px;
    max-width: 100%;
    width: 375px;
}

.container--greentop .seeAllMemSection {
    display:block;
    margin: 20px 0;
    .legal-text__paragraph {
        color: #6a6865;
        margin: 15px 15px 5px 14px;
        &:nth-last-of-type(1) {
            // margin: 0px 15px 15px 14px;
        }
    }
}

.container--greentop .offerLegalTxt {
    text-align: right;
}

.container--greentop .mainOfferSection .offerLegalTxt {
    margin-left: 40px;
    text-align: left;
}
.container--greentop .durationTxtWrap {
    position: absolute;
    bottom: 16px;
    right: 25px;
    .upfrontText {
        padding-left: 40px;
        font-size: 14px;
    }
}