.offerings-style {
    &.offerings-style--greentop {
        padding-top: 20px;

        .ftSubOfferSection {
            margin-top:15px;
        }
        
        .ftSubOfferForm {
            margin: 0 auto;
            max-width: 100%;
            position: relative;
            text-align: center;
            width: 480px;
        }
        
        .mainOfferSection .ftSubOfferForm {
            margin: 0;
        }
        
        .rad2OfferStacked {
            text-align: left;
        }
        
        .radOffer:first-child {
            margin-top: 0;
        }
        
        .radOffer {
            background-color: #fff;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            cursor: pointer;
            display: block;
            line-height: normal;
            margin-top: 15px;
            padding: 15px 10px 15px 210px;
            position: relative;
        }
        
        .radOffer.noSmlTxt {
            padding-bottom: 22px;
            padding-top: 23px;
        }
        
        .radHeadline {
            text-shadow: none;
        }
        
        .lrgCheckRadio.iconCheck:before {
            font-size: 20px;
        }
        
        .savingsFlag {
            color: #5e6770;
            background-color: #dedede;
            display: block;
            left: 62px;
            line-height: normal;
            margin: 0;
            padding: 3px 7px;
            position: absolute;
            top: -11.5px;
            &.savingsFlag--best {
                color:#ffffff;
                background-color: #1b88b0;
            }
        }
        
        .radCheckWrap {
            display: block;
            left: 15px;
            margin-top: -21px;
            position: absolute;
            top: 50%;
        }
        
        .radCheckTxt,
        .lrgCheckRadio {
            display: inline-block;
            vertical-align: middle;
        }
        
        .coloralt1 {
            color: #6a6865;
        }
        
        .radCheckHidden {
            height: 1px;
            overflow: hidden;
            position: absolute;
            width: 1px;
        }
        
        .radCheckbox {
            height: 1px;
            line-height: 0;
            margin: 2px;
            opacity: 0;
            overflow: hidden;
            width: 1px;
        }
        
        .lrgCheckRadio {
            background: #fff;
            border: 3px solid #bbb0a3;
            border-radius: 50%;
            font-size: 19px;
            margin-right: 10px;
            padding: 18px;
            position: relative;
        }
        
        .selectedOption .lrgCheckRadio {
            border-color: #695e48;
            color: #695e48;
        }
        
        .lrgCheckRadio.iconCheck:before {
            display: none;
            left: 50%;
            line-height: normal;
            margin-left: -0.5em;
            margin-top: -0.5em;
            position: absolute;
            top: 50%;
        }
        
        .selectedOption .lrgCheckRadio.iconCheck:before {
            display: block;
        }
        
        .ftSubOfferForm .ancBtn.xlrg {
            font-size: 30px;
            line-height: 43.8px;
            margin-top: 10px;
            min-height: 80px;
            padding: 19px 28px 17.5px;
        }
        
        .pageHeroImg--offering {
            background: url('https://www.ancestrycdn.com/mars/landing/deny/2016/freetrial-deny-herobkg.png') no-repeat;
            background-size: 100% auto;
            float: right;
            height: 359px;
            margin-top: -20px;
            max-width: 100%;
            width: 375px;
        }
        
        .seeAllMemSection {
            display:block;
            margin: 20px 0;
            .legal-text__paragraph {
                color: #6a6865;
                margin: 15px 15px 5px 14px;
                &:nth-last-of-type(1) {
                    // margin: 0px 15px 15px 14px;
                }
            }
        }
        
        .offerLegalTxt {
            text-align: right;
        }
        
        .mainOfferSection .offerLegalTxt {
            margin-left: 40px;
            text-align: left;
        }
        .durationTxtWrap {
            position: absolute;
            bottom: 16px;
            right: 25px;
            .upfrontText {
                padding-left: 40px;
                font-size: 14px;
            }
        }

        // .page > div.ancGrid {
        //     display: flex;
        //     min-height: 300px;
        //     flex-direction: column-reverse;
        // }

    }
}