.offerings-style--prettygrid {

    .offerPageForm {
        background-color: #fff;
        .page {
            position: relative;
        }
        .ancGridEqual > .ancCol {
            vertical-align: middle;
        }
    }

    table.offers-table {
        border-collapse: separate;
        tr {
            td {
                width:25%;
                &:first-of-type {
                    width:15%;
                }
                &.offers-table__cell--memberships {
                    vertical-align: bottom;
                    text-align: right;
                    font-size: 14px;
                    font-weight: 400;
                    padding:3px 10px;
                }
                &.offers-table__cell--divider {
                    min-width: 15px;
                    width: 1%;
                }
                &.offers-table__cell--content {
                    box-shadow: 0 0 0 2px #f0efe9;
                    padding: 15px 10px;
                    position: relative;
                }
                &.offers-table__cell--top-label {
                    color:#ffffff;
                    text-align: center;
                    border-radius: 8px 8px 0 0;
                    .badge {
                        box-shadow: 0 2px 7px 0 rgba(0, 0, 0,0.2);
                        left: 10%;
                        position: absolute;
                        top: -15px;
                        width: 80%;
                        + h2 {
                            margin-top: 10px;
                        }
                    }
                }
                &.offers-table__cell--left-label {
                    text-align: right;
                    background-color: #f8f7f3;
                    border-radius: 0;
                }
                &.offers-table__cell--offer {
                    background-color: #fff;
                    padding: 0;
                    input {
                        height: 30px;
                        line-height: 0;
                        opacity: 0!important;
                        overflow: hidden;
                        position: absolute;
                        width: 1px;
                        + label {
                            display: inline-block;
                            font-weight: 400;
                            margin-top: 6px;
                            max-width: 100%;
                            font-size: 52px;
                            line-height: 0.8em;
                            padding: 25px 10px 25px 50px;
                            position: relative;
                            width: 100%;
                            &:before {
                                content: "";
                                background-color: #fff;
                                color: #fff;
                                float: left;
                                font-size: 14px;
                                margin: 1px 4px 0 -24px;
                                text-align: center;
                                text-indent: 0;
                                -webkit-user-select: none;
                                -moz-user-select: none;
                                -ms-user-select: none;
                                user-select: none;
                                width: 20px;
                                box-shadow: inset 0 -3px 0 rgba(0, 0, 0,0.2);
                                height: 30px;
                                line-height: 30px;
                                margin-left: -40px;
                                margin-top: 10px;
                                width: 30px;
                                border-radius:50%;
                            }
                            .price-group {
                                position:relative;
                                display:inline-block;
                                font-size:52px;
                                // line-height:.8em;
                                span {
                                    vertical-align: top;
                                    line-height: .5em;
                                }
                                .price-group__currency {
                                    font-size: 35%;
                                }
                                .price-group__integer {
                                    font-size:100%;
                                    // line-height:1em;
                                }
                                .price-group__decimal {
                                    font-size: 61%;
                                }
                                .strike-through-price {
                                    opacity:0.85;
                                    color:#767676;
                                    .legal-text__sup {
                                        font-size:37%;
                                        line-height:.5em;
                                    }
                                }
                            }
                        }
                        &:checked + label {
                            background-color: #f0efe9;
                            border-radius: 8px;
                            box-shadow: 0 0 0 5px #f0efe9;
                            z-index: 2;
                            &:before {
                                background: #fff;
                                box-shadow: inset 0 3px 2px #b8d94c, inset 0 -3px 0 rgba(0, 0, 0,0.2), inset 0 0 0 9px #6ba410;
                            }
                        }
                    }
                }
            }
            &:nth-of-type(2) {
                td:nth-of-type(1) {
                    border-top-left-radius:8px;
                }
            }
            &:nth-last-of-type(1) {
                td:nth-of-type(1) {
                    border-bottom-left-radius:8px;
                }
                td:nth-of-type(even) {
                    border-radius: 0 0 8px 8px;
                }
                td:nth-of-type(2) {
                    border-radius:0 0 8px 0;
                }
            }
        }
        // td {
        //     &.customContainer {
        //         box-shadow: 0 0 0 2px #f0efe9;
        //         padding: 15px 10px;
        //         position: relative;
        //     }
        //     &.w25.customContainer.bgDark {
        //         border-top-left-radius: 8px;
        //         border-top-right-radius: 8px;
        //     }
        //     &.wDivide {
        //         min-width: 15px;
        //         width: 1%;
        //     }
        //     &.customContainer.bkg2 {
        //         background-color: #f8f7f3;
        //     }
        //     &.w15.customContainer {
        //         border-bottom-right-radius: 0 !important;
        //         text-align: right;
        //     }
        //     &.customContainer.monthlyRowHeading {
        //         border-top-left-radius: 8px;
        //     }
        //     &.customContainer.offerContent {
        //         background-color: #fff;
        //         padding: 0;
        //     }
        //     &.customContainer.semiRowHeading, 
        //     &.semiRowHeading ~ td.customContainer {
        //         border-bottom-left-radius: 8px;
        //         border-bottom-right-radius: 8px;
        //     }
        //     &.w15.customContainer.bkg2 + td.customContainer {
        //         border-bottom-left-radius: 0;
        //     }
        // }
    }

    .offerPriceTxt {
        line-height: 1em;
    }
    .offerPriceTxt--ldbm {
        font-size: 18px;
        line-height: 18px;
        display: block;
        margin: -3px 0px 0 9px;
    }

    .payGoModalBtn, 
    a.compareButton {
        text-decoration: none;
    }

    .offerFormCtaArrow {
        border: 5px solid transparent;
        border-left-color: #b8d94c;
        border-width: 90px 0 90px 38px;
        display: inline;
        font-size: 0;
        height: 0;
        line-height: 0;
        vertical-align: middle;
        width: 0;
    }

    .offerFormSubmitBtn {
        margin-left: 10px;
        vertical-align: middle;
        @media only screen and (min-width: 1200px) {
            font-size: 20px;
            line-height: 30px;
            min-height: 50px;
            padding: 9px 34px;
        }
    }

    .free-trial-submit-button {
        margin-top: -5px;
        display: block;
    }





    .badgeColorTeal {
        background-color: #71b5b0;
    }

    .texttiny {
        font-size: 13px;
    }

    .coloraltgreen {
        color: #7e9b27;
    }

    .savingsText {
        display: block;
        line-height: 1em;
        margin-top: 15px;
    }

    .w15 {
        width: 15%;
    }

}