.offerings-style--prettygrid {
    background-color: #fff;

    .offers-container {
        display:flex;
        max-width: 100%;
        width: 1200px;
        margin:0 auto;
    }

    .offers-form {
        display:flex;
        width:100%;
        margin: 40px 0 20px 0;
        flex-wrap:wrap;
        justify-content: center;
    }

    .offers-grid {
        display: flex;
        width: 100%;
        padding: 0 5px 20px 5px;
        flex-wrap: wrap;
        justify-content: center;

        .offers-grid__row {
            display:flex;
            width:100%;
            font-size: 14px;
            align-items: stretch;
            justify-content:center;
        }

        .offers-grid__cell {
            position: relative;
            flex-grow:1;
            flex-basis:0;
            color: #181a1c;
            background-color: #ffffff;
            max-width:260px;
            padding: 10px;
            box-shadow: 0 0 0 2px #f0efe9;
            margin: 0 5px;
            &.offers-grid__cell--column-label {
                display:flex;
                color: #ffff;
                text-align: center;
                background-color: #767676;
                padding: 20px 10px 10px 10px;
                border-radius: 8px 8px 0 0;
                align-items: center;
                justify-content: center;
                .cell-content {
                    display:block;
                    width:100%;
                }
                .cell-package-name {
                    font-size:142%;
                }
                .cell-package-description {
                    display:none;
                    margin:0;
                    @media (min-width: 769px) {
                        display:block;
                    }
                }
                .badge {
                    font-size:14px;
                    background-color: #71b5b0;
                    box-shadow: 0 2px 7px 0 rgba(0, 0, 0,0.2);
                    position: absolute;
                    top: -15px;
                    width: 80%;
                    max-width:180px;
                    &.badge--tier0 {
                        font-size:90%;
                    }
                    + h2 {
                        margin-top: 10px;
                    }
                }
            }
            &.offers-grid__column-renewal-text {
                background-color: #f5f5f5;
                color: #181a1c;
                text-align:center;
                line-height: 123%;
                font-size: 90%;
                box-shadow: 0 0 0 2px #f0efe9;
                padding: 10px;
                position: relative;
                .column-free-text {
                    display: block;
                    color: #005c7d;
                    font-style: italic;
                    font-size: 123%;
                    margin: 0 0 2px 0;
                }
            }
            &.offers-grid__cell--row-label {
                text-align: right;
                background-color: #f8f7f3;
                min-width:130px;
                border-radius: 0;
                flex-grow:0;
                &.position-first,
                &.position-only {
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                }
                &.position-last,
                &.position-only {
                    border-bottom-left-radius: 8px;
                    border-bottom-right-radius: 8px;
                }
                .duration-text {
                    font-size:20px;
                }
                .renew-cancel-text {
                    font-size: 13px;
                    font-style: italic;
                    text-align:right;
                }
                .ldbm-toggle-button {

                }
            }
            &.offers-grid__cell--offer {
                display:flex;
                background-color: #fff;
                padding:0;
                font-size: inherit;
                &.position-last {
                    border-radius: 0 0 8px 8px;
                }
                .registration-list-items {
                    display:block;
                    font-size: 42%;
                    font-weight: 400;
                    width:100%;
                    margin: 20px 10px;
                    .bulleted {
                        margin: 0 0 0 10px;
                        li {
                            line-height:123%;
                        }
                    }
                }
                input {
                    height: 30px;
                    line-height: 0;
                    opacity: 0!important;
                    overflow: hidden;
                    position: absolute;
                    width: 1px;
                    + label {
                        display: flex;
                        flex-wrap: wrap;
                        align-content: center;
                        font-weight: 400;
                        max-width: 100%;
                        font-size: 200%;
                        line-height: 80%;
                        padding: 20px 10px 15px 10px;
                        position: relative;
                        width: 100%;
                        &.offer-label--freemium {
                            z-index: 2;
                            background-color: #ffffff;
                            border-radius: 0 0 8px 8px;
                            box-shadow: 0 0 0 2px #f0efe9;
                        }
                        &.offer-label--duration-embedded {
                        }
                        &:before {
                            content: "";
                            display:block;
                            color: #fff;
                            text-align: center;
                            text-indent: 0;
                            -webkit-user-select: none;
                            -moz-user-select: none;
                            -ms-user-select: none;
                            user-select: none;
                            width: 20px;
                            height: 20px;
                            line-height: 30px;
                            background-color: #fff;
                            border-radius:50%;
                            box-shadow: inset 0 -3px 0 rgba(0, 0, 0,0.2);
                            margin: 0 5px 0 0;
                        }

                        .price-info {
                            position:relative;
                            display:block;
                            font-size:100%;
                            line-height:80%;
                            width:calc(100% - 25px);
                            &.price-info--content-tier1 {
                                
                            }
                            &.price-info--content-tier2 {
                                width:calc(100% - 40px);
                            }
                            &.price-info--content-tier3 {
                                width:calc(100% - 40px);
                            }
                            span {
                                vertical-align: top;
                                line-height: .5em;
                            }
                            .strike-through-price {}
                            .currency-symbol {
                                font-size: 35%;
                            }
                            .integer {
                                font-size:100%;
                            }
                            .decimal-point {
                                display:none;
                            }
                            .decimal-number {
                                font-size: 61%;
                            }
                            .strike-through-price {
                                opacity:0.85;
                                color:#767676;
                                .legal-text__sup {
                                    font-size:37%;
                                    line-height:.5em;
                                }
                            }
                            .per-duration {
                                font-size: 42%;
                                line-height: 100%;
                                &:before {
                                    content: '/';
                                    font-size:142%;
                                }
                            }
                            .ldbm-addon {
                                display:block;
                                width:100%;
                                font-size:50%;
                                margin:6px 0 0 6px;
                            }
                        }
                        .ldbm-toggle-button {
                            display: block;
                            font-size: 14px;
                            line-height: 100%;
                            text-align: center;
                            width: 100%;
                            margin: 12px 0 0 0;
                        }
                        .savings-text {
                            display: block;
                            color: #6ba410;
                            font-size:16px;
                            font-weight:600;
                            line-height: 100%;
                            text-align: center;
                            width: 100%;
                            margin: 15px 0 0 0;
                        }
                        &.offer-label--size-tier1 {
                            font-size:246%;
                        }
                        &.offer-label--size-tier2 {
                            font-size:284%;
                        }
                        &.offer-label--size-tier3 {
                            font-size:370%;
                        }
                        &.offer-label--size-tier2,
                        &.offer-label--size-tier3 {
                            padding: 25px 15px 25px 15px;
                            &:before {
                                width:30px;
                                height:30px;
                                margin: 0 10px 0 0;
                            }
                            .registration-list-items {
                                font-size:16px;
                            }
                            .ldbm-addon {
                                font-size: 18px;
                            }
                            .ldbm-toggle-button {
                                font-size: 16px;
                                margin: 15px 0 0 0;
                            }
                            .savings-text {
                                font-size:20px;
                            }
                        }
                    }
                    &:checked + label,
                    label.active {
                        background-color: #f0efe9;
                        border-radius: 8px;
                        box-shadow: 0 0 0 5px #f0efe9;
                        z-index: 2;
                        &:before {
                            background: #fff;
                            box-shadow: inset 0 3px 2px #b8d94c, inset 0 -3px 0 rgba(0, 0, 0,0.2), inset 0 0 0 6px #6ba410;
                        }
                        &.offer-label--size-tier2,
                        &.offer-label--size-tier3 {
                            &:before {
                                box-shadow: inset 0 3px 2px #b8d94c, inset 0 -3px 0 rgba(0, 0, 0,0.2), inset 0 0 0 9px #6ba410;
                            }
                        }
                    }
                }
            }
            &.offers-grid__cell--white {
                color: #181a1c;
                background-color: #ffff;
            }
            &.offers-grid__cell--blue {
                background-color: #0079a3;
            }
            &.offers-grid__cell--lightgreen {
                color:#181a1c;
                font-size:94%;
                background-color: #b7d94c80;
            }
            &.offers-grid__cell--green {
                background-color: #6ba410;
            }
            &.offers-grid__cell--purple {
                background-color: #655586;
            }
            &.offers-grid__cell--empty {
                background-color: transparent;
                border:none;
                box-shadow:none;
            }
        }

        .ldbm-toggle-button {
            display:block;
            font-size: 16px;
        }

        .legal-wrapper {
            display:block;
        }

        &.offers-grid--row-labels-true {
            .offers-grid__cell {
                max-width: 215px;
            }
        }

        &.offers-grid--cta-placement-side {
            max-width: calc(100% - 300px);
            width: auto;
            display: block;
            .legal-text__paragraph {
                margin-left: 0;
                // max-width: 600px;
            }
        }
    }


    .offers-form__cta {
        text-align: center;
        display:block;
        width: calc(100% - 140px);
        .cta-arrow {
            display:none;
            border: 5px solid transparent;
            border-left-color: #b8d94c;
            border-width: 90px 0 90px 38px;
            font-size: 0;
            height: 0;
            line-height: 0;
            vertical-align: middle;
            width: 0;
        }
        .submit-button {
            vertical-align: middle;
            font-size: 20px;
            line-height: 30px;
            min-height: 50px;
            padding: 9px 34px;
            min-width: 50%;
            > span {
                
            }
        }
        &.offers-form__cta--row-labels-true {
            margin-left: 140px;
        }
        &.offers-form__cta--placement-side {
            width: auto;
            max-width: 300px;
            margin: 0;
            align-self: center;
            text-align: left;
            padding-right:10px;
            .cta-arrow {
                display:inline;
            }
            .submit-button {
                width:auto;
                margin-left:10px;
                min-width:none;
            }
        }
    }

}