.container--sparklydragon button {
    outline: 0!important
}

.offerings-style {

    &.offerings-style--sparklydragon {
        background-color: #fff;
        padding-bottom:20px;
        @media (min-width: 601px) {
            padding-top:10px;
        }

        @media (min-width: 768px) {
            .page-container {
                box-sizing: border-box;
                margin: 0 auto;
                max-width: 100%;
                padding: 12px;
                width: 984px;
            }
        }
    
        .strike-through-price {
            position: absolute;
            bottom: 19px;
            &.strike-through-price--hardoffer {
                bottom:1px;
                right:100%;
            }
            @media (min-width: 360px) {
                bottom:1px;
                right:100%;
            }
            @media (min-width: 768px) {
                position:relative;
                bottom: auto;
                right: auto;
            }
        }
    
        .conHeader:after {
            display: none
        }
    
        .checkmark {
            @media (min-width: 768px) {
                position: absolute;
                top: 0;
                left: 0;
                height: 20px;
                width: 20px;
                background-color: #fff;
                border: solid 1px grey;
                border-radius: 50%;
                &:after {
                    content: "";
                    position: absolute;
                    display: none;
                }
            }
        }
    
        .page-container a {
            text-decoration: none;
        }
        
        label {
            @media (min-width: 768px) {
                display: block;
                position: relative;
                padding-left: 30px;
                margin-bottom: 12px;
                cursor: pointer;
                font-size: 22px;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                &.us-subs-label > span {
                    white-space: nowrap;
                }
                .checkmark:after {
                    content: "";
                    position: absolute;
                    display: none;
                    top: 4px;
                    left: 4px;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background: green;
                }
                &.us-subs-label .checkmark:after {
                    background: #6ba410;
                }
                &.worldex-subs-label .checkmark:after {
                    background: #0079a3;
                }
                &.allacc-subs-label .checkmark:after {
                    background: #61527e;
                }
            }
        }
    
        .conBody {
            @media (min-width: 768px) {
                min-height: 216px;
            }
        }
    
        hr {
            border-bottom: 1px solid #cccbca;
        }
    
        .hr-line-mtb10 {
            margin: 10px 0;
        }
    
        .border-bt-cl {
            border-bottom-color: #c3c3c3;
        }
    
        .flex-container {
            display: flex;
        }
    
        .flex-center {
            align-items: center;
            justify-items: center;
        }
    
        .buttonpills-wrap {
            position: relative;
            margin-left: 10px;
            margin-right: 10px;
            &:before {
                content: '';
                width: 100%;
                height: 1px;
                border-top: solid 1px #cccbca;
                top: 50%;
                position: absolute;
                z-index: 1;
            }
            .buttonpills-inner {
                width: 690px;
                max-width: calc(100% - 60px);
                margin: 0 auto;
                background: #fff;
                position: relative;
                z-index: 6;
                &.buttonpills-inner--narrow {
                    width:470px;
                }
                .buttonPills {
                    clear: both;
                    display: block;
                    min-height:35px;
                    height: auto;
                    padding: 0 10px;
                    margin: 10px auto;
                    position: relative;
                    width: auto;
                    overflow: hidden;
                    text-align: center;
                    @media screen and (min-width:320px) and (max-width:767px) {
                        margin-top: 0
                    }
                    @media (min-width:768px) {
                        margin-bottom: 20px;
                    }
                    @media (min-width:320px) and (max-width:374px) {
                        font-size: 14px;
                    }
                    button {
                        position:relative;
                        border: 1px solid #54534f;
                        border-radius: 50px;
                        padding: 7px;
                        // position: absolute;
                        font-weight: 600;
                        text-align: center;
                        width: 125px;
                        margin: 1px -10px;
                        &.privateRow {
                            display:block;
                            margin: 1px auto;
                        }
                        &.activePill {
                            background-color: #18191c;
                            color: #fff;
                            z-index: 10;
                        }
                        &.inactivePill {
                            z-index:1;
                            background-color: #fff;
                        }
                        // &:nth-of-type(1) {
                        //     left:0;
                        // }
                        // &:nth-last-of-type(1) {
                        //     right:0;
                        // }
                        @media (min-width:320px) and (max-width:374px) {
                            border-radius: 50px;
                            padding: 5px;
                        }
                        > span {
                            display:block;
                            font-weight: normal;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    
        .durationLDBMButton {
            text-align: center;
            margin: -10px 0 17px 0;
            > button {
                color: #1B88B0;
                font-size: 14px;
                text-decoration: underline;
                font-weight: bold;
                background:transparent;
                border:none;
            }
        }
        
        // .container--sparklydragon .buttonPill .arrow.arrow-mv-left {
        //     right: -80px
        // }
        
        // .container--sparklydragon .buttonPill .monthPill.inactivePill {
        //     padding-right: 20px
        // }
        
        // .container--sparklydragon .buttonPill .monthPill.activePill {
        //     padding-right: 7px
        // }
        
        // .container--sparklydragon .buttonPill .month6Pill.inactivePill {
        //     padding-left: 20px
        // }
        
        // .container--sparklydragon .buttonPill .month6Pill.activePill {
        //     padding-left: 7px
        // }
        
        .center-grid {
            margin: 0 auto!important;
            text-align: center;
        }
        
        .subs-plan-container {
            @media screen and (min-width: 320px) and (max-width: 767px) {
                max-width: 490px;
            }
        }
        
        .ancGridEqual {
            @media (min-width: 320px) and (max-width: 374px) {
                border-spacing: 5px 0;
            }
            @media (min-width: 768px) {
                border-spacing: 8px 0;
            }
        }
    
        .saving-plan-sixmonths {
            position:relative;
            height: 34px;
            background: #ffe300;
            margin: 10px -10px;
            padding: 5px;
            font-weight: 700;
            cursor: default;
        }
    
        .subs-plan-outer-wrap {
            @media screen and (min-width: 320px) and (max-width: 767px) {
                padding: 10px;
                padding-bottom: 0;
                &:first-child {
                    padding-top:0;
                }
            }
        }
        
        .subs-plan-wrap {
            @media screen and (min-width: 320px) and (max-width: 767px) {
                display: flex!important;
                padding: 10px;
                border-radius: 6px;
                position: relative;
                min-height: 104px;
                max-height: 104px;
                .saving-plan-sixmonths {
                    position: absolute;
                    right: 10px;
                    top: -10px;
                    border-radius: 2px;
                    height: 20px;
                    width: 78px;
                    font-size: 14px;
                    font-weight: 400;
                    padding: 0;
                }
            }
        }
        
        .usrecords {
            border: solid 3px;
            border-color: #6ba410;
        }
    
        .usnintrecords {
            border: solid 3px;
            border-color: #1c88b0;
        }
    
        .allacc-plan-br-mbl {
            border: solid 3px #61527e;
        }
        
        .us-dis-plan-wrap {
            @media screen and (min-width: 320px) and (max-width: 767px) {
                display: flex!important;
                padding: 10px;
                background-color: #f8faf3;
            }
        }
        
        .world-ex-plan-wrap {
            @media screen and (min-width: 320px) and (max-width: 767px) {
                background-color: #f2f8fa;
            }
        }
    
        .allacc-plan-wrap {
            @media screen and (min-width: 320px) and (max-width: 767px) {
                background-color: #f7f6f9;
            }
        }
    
        .plan-hero-img {
            @media screen and (min-width: 320px) and (max-width: 767px) {
                margin-right: 10px;
            }
        }
        
        .planTitle {
            font-size: 18px!important;
            min-height: 78px;
            padding-bottom: 0;
        }
    
        .plan-subtitle {
            @media screen and (min-width: 320px) and (max-width: 767px) {
                font-weight: 400;
            }
        }
        @media screen and (min-width: 320px) and (max-width: 767px) {
            .allacc-plan-wrap .subs-plan-desc .plan-subtitle, 
            .world-ex-plan-wrap .subs-plan-desc .plan-subtitle {
                margin-bottom: 12px;
            }
        }
    
        .subs-plan-desc {
            @media screen and (min-width: 320px) and (max-width: 767px) {
                flex: 0 0 280px;
                text-align: left;
                margin-right: 25px;
                margin-right: calc(100% - 339px);
                &.allacc-plan-desc {
                    margin-left: -5px;
                    // flex: 0 0 214px;
                    // margin-right: 1px;
                    // margin-right: calc(100% - 273px);
                }
                .planTitle {
                    min-height: 0;
                    font-size: 16px!important;
                }
                .plan-subtitle {
                    margin-bottom: 25px;
                    display: inline-block;
                }
            }
        }
    
        .right-arrow-wrap {
            @media screen and (min-width: 320px) and (max-width: 767px) {
                align-self: center;
                font-size: 30px;
            }
        }
    
        .plan-detail {
            @media screen and (min-width: 320px) and (max-width: 767px) {
                position:relative;
                display: block;
                line-height: 1;
                &.plan-detail--longduration {
                    margin-left: -38px;
                    @media screen and (min-width: 360px) {
                        margin-left:0px;
                    }
                }
                &.plan-detail--promosavings:not(.plan-detail--hardoffer) {
                    @media screen and (min-width: 360px) {
                        left:28px;
                    }
                }
                &.plan-detail--promosavings.plan-detail--hardoffer {
                    left:28px;
                }
            }
        }
    
        // .allaccess-plan-detail, .usnint-plan-detail {
        //     @media (min-width: 768px) {
        //         display: inline-block;
        //         margin-left: -10px;
        //         margin-right: -10px;
        //     }
        // }
    
        .plan-price-wrap {
            font-weight: 600;
            @media (min-width: 768px) {
                &.plan-price-wrap--hardoffer {
                    display:block;
                }
            }
            .plan-price {
                font-size:20px;
                &.plan-price--hardoffer {
                    font-size:24px;
                    line-height:.7em;
                    @media (min-width: 768px) {
                        font-size:30px;
                        line-height:1em;
                    }
                }
            }
        }
    
        .border-highlight {
            border-bottom: solid 2px #ffe300;
        }
    
    
        .plan-select-tiles {
            &.plan-select-tiles--1 {
                max-width:320px;
            }
            &.plan-select-tiles--2 {
                max-width:640px;
            }
        }
    
        .plan-select-tiles section {
            cursor: pointer;
        }
    
        .usdis-ps-wrap {
            @media (min-width: 768px) {
                &:hover {
                    background-color: #fafff3!important;
                }
            }
        }
    
        .worldex-ps-wrap {
            @media (min-width: 768px) {
                &:hover {
                    background-color: #f1fbff!important;
                }
            }
        }
    
        .allacc-ps-wrap:hover, 
        .usdis-ps-wrap:hover, 
        .worldex-ps-wrap:hover {
            transition: background .2s;
        }
    
        .plan-select-header {
            padding:10px;
            @media (min-width: 768px) {
                display: flex;
                align-items: center;
                justify-items: center;
                justify-content: space-between;
            }
        }
        .ancGrid .plan-select-header {
            padding: 10px;
            @media (min-width: 768px) {
                padding: 4px;
                margin: 6px;
            }
        }
        .allacc-sec .plan-select-header {
            @media (min-width: 768px) {
                position: relative;
            }
        }
    
        .usrecords-border {
            @media (min-width: 768px) {
                border: solid 6px #6ba410!important;
                border-radius: 10px;
                background-color: #fafff3!important;
                .conHeader {
                    margin: 0!important;
                }
            }
        }
    
        .worldex-border {
            @media (min-width: 768px) {
                border: solid 6px #1c88b0!important;
                border-radius: 10px;
                background-color: #f1fbff!important;
                .conHeader {
                    margin: 0 0 6px 0!important;
                }
            }
        }
    
        .allacc-border {
            @media (min-width: 768px) {
                border: solid 6px #61527e!important;
                border-radius: 10px;
                background-color: #f8f4ff!important;
                .conHeader {
                    margin: 0 0 6px 0!important;
                }
            }
        }
    
        .radio-text {
            @media (min-width: 768px) {
                display: block;
                width: 114px;
            }
        }
    
        .worldex-radio-txt {
            @media (min-width: 768px) {
                width: 124px;
            }
        }
    
        .text-left {
            text-align: left;
            @media (min-width: 768px) {
                text-align: left;
            }
        }
    
        .subs-plan-wrap {
            > input {
                display:none;
            }
        }
    
        label {
            input {
                display: none;
                @media (min-width: 768px) {
                    position: absolute;
                    display:block;
                    opacity: 0;
                    cursor: pointer;
                    &:checked~.checkmark {
                        background-color: #fff;
                        &:after {
                            display:block;
                        }
                    }
                    &[type=radio]:checked {
                        background-color: #9cbf3b;
                    }
                }
            }
        }
    
        input[type=radio]:checked {
            @media (min-width: 768px) {
                background-color: #9cbf3b;
            }
        }
    
        .allacc-plan-img-wrap, 
        .usint-plan-img-wrap {
            @media (min-width: 768px) {
                padding-left: 14px;
            }
        }
    
        .us-plan-img-wrap {
            @media (min-width: 768px) {
                padding-left: 10px;
                align-self: baseline;
            }
        }
        
        .usint-plan-img-wrap {
            @media (min-width: 768px) {
                margin-top:-8px;
            }
        }
        
        .allacc-plan-img-wrap {
            @media (min-width: 768px) {
                position: absolute;
                right: 0;
                align-self: flex-end;
            }
        }
    
        .usrecords-img {
            @media (min-width: 768px) {
                width: 40px;
                height: 24px;
            }
        }
    
        .plan-select-header .usnintrecords-img {
            @media (min-width: 768px) {
                width: 30px;
                height: 30px;
            }
        }
    
        .usrecordsFreeText {
            color: #6ba410;
        }
        
        .usnintrecordsFreeText {
            color: #1c88b0;
        }
    
        .tooltip {
            position: relative;
            display: inline-block;
            color: #006080;
        }
        .saving-plan-sixmonths .tooltip {
            position: static;
        }
        img.ques-icon {
            margin-left: 7px;
        }
    
        .tooltip {
            .tooltiptext {
                visibility: hidden;
                position: absolute;
                width: 230px;
                background-color: #fff;
                color: #000;
                text-align: center;
                padding: 5px 0;
                border-radius: 6px;
                z-index: 1;
                opacity: 0;
                transition: opacity .6s;
                padding: 10px;
                box-shadow: 0 2px 9px rgba(0, 0, 0, 0.25);
                text-align: left;
                div:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
            &:hover {
                .tooltiptext {
                    visibility:visible;
                    opacity:1;
                }
            }
            .fold-img-wrapper .tooltiptext, 
            .newspaper-img-wrapper .tooltiptext {
                width: 270px;
            }
        }
    
        .tooltip-bottom {
            top: 135%;
            transform: translateX(-50%);
            &:after {
                content: "";
                position: absolute;
                bottom: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent #fff transparent;
            }
        }
    
        .saving-plan-sixmonths .tooltip .tooltiptext {
            left: 50%;
            top: 100%;
        }
    
        .plan-description {
            text-align: left;
            min-height: 80px;
        }
    
        .see-example-text {
            @media (min-width: 768px) {
                margin-top: 10px;
                display: block;
            }
        }
    
        .free-trial-button {
            margin-bottom: 10px;
        }
    
        .free-trial-btn-md-up {
            @media (min-width: 768px) {
                position: absolute;
                width: calc(100% - 20px)!important;
                left: 0;
                margin-left: 10px;
                margin-right: 10px;
                bottom: 10px;
            }
        }
    
        .fold-img-wrapper .see-example-btn, 
        .newspaper-callout-img-wrap .see-example-btn {
            width: 90%;
            position: absolute;
            left: 50%;
            bottom: 10px;
            transform: translateX(-50%);
        }
    
        .usdis-bgcolor {
            background: #6ba410;
        }
    
        .worldex-bgcolor {
            background: #0079a3;
        }
    
        .allaccess-btn-bgcolor {
            background-color: #61527e;
        }
    
        .allaccess-img-container>div:not(:last-child) {
            @media (min-width: 768px) {
                margin-right: 10px;
            }
        }
    
        .fold-img-wrapper>div:first-child, 
        .newspaper-img-wrapper>div:first-child {
            @media (min-width: 768px) {
                padding-bottom: 10px;
                @media (min-width: 1005px) {
                    padding-bottom: 0px;
                }
            }
        }
    
        .fold-img {
            @media (min-width: 768px) {
                width: 73px;
                height: 17px;
            }
        }
    
        .newspapers-img {
            @media (min-width: 768px) {
                width: 98px;
                height: 17px;
            }
        }
    
        .fold-callout-img-wrap, 
        .newspaper-callout-img-wrap {
            max-height: 140px;
        }
    
        .rel-pos {
            position: relative;
        }
    
        .fold-callout-img, 
        .newspaper-callout-img {
            width: 250px;
            height: 140px;
            border-radius: 5px;
            overflow: hidden;
        }
    
        .news-basic-text {
            @media (min-width: 768px) {
                display:none;
                top: -.3em;
                font-size: 1em;
                margin-left: 3px;
                color: #181a1c;
                @media (min-width: 1005px) {
                    display:inline-block;
                }
            }
        }
    
        .news-basic-text-tab {
            @media (min-width: 768px) {
                display:block;
                position: absolute;
                bottom: 16px;
                color: #181a1c;
                left: 0;
                font-size: 16px;
                @media (min-width: 1005px) {
                    display:none;
                }
            }
        }
    
    
    
    
    
    
    
        .full-width {
            width: 100%;
        }
    
        .p10 {
            @media (min-width: 768px) {
                padding:10px!important;
            }
        }
    
        .mb-0 {
            margin-bottom: 0;
        }
    
        .mt-2 {
            margin-top: 10px;
        }
    
        .rounded-2 {
            border-radius: 10px!important;
        }
        
        .grey-border {
            border: 1px solid #c3c3c3;
        }
    
        .bamboo3 {
            color: #6ba410;
        }
    
        .Wave3 {
            color: #0079a3;
        }
    
        .allaccess-color {
            color: #61527e;
        }
    }

}