.container {
    position:relative;
}

.strike-through-price {
    position:relative;
    display: inline-block;
    font-weight:400;
    font-size: 72%;
    margin-right: 5px;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 1px;
        display: block;
        width: calc(100% - 2px);
        height: 50%;
        border: solid .1em #c14139;
        border-width: 0 0 .1em 0;
        transform: rotate(10deg);
    }
}

.legal-text {
    display:block;
    font-size: 14px;
}

.legal-text__sup {
    top:-.3em;
    font-size: .61em;
    vertical-align: super;
    &.legal-text__sup--asterisk {
        top:0;
        font-size: 1em;
        vertical-align: baseline;
    }
}

.legal-text__paragraph {
    position:relative;
    display:block;
    margin: 10px 20px 0px 24px;
    font-size: 14px;
    > sup:first-of-type {
        position:absolute;
        display:block;
        width:20px;
        text-align:right;
        top:0;
        left:-25px;
        font-weight:600;
        font-size:1em;
        &.legal-text__sup--asterisk {
            font-size:1.23em;
        }
    }
}