.settings {
    position: relative;
    display:block;
    overflow:hidden;
    // display:inline-flex;
    width: 100%;
    // justify-content: space-between;
    padding: 10px 10px 0 10px;
    border-bottom: solid 1px grey;
}

.settings__grouping {
    position: relative;
    display: flex;
    padding: 10px;
    border: solid 1px #dedede;
    overflow: hidden;
    margin: 0 0 10px 0;
    width: 100%;
    flex-flow: wrap;
}

.settings__groupings__name {
    display: block;
    width: 100%;
    font-weight: bold;
    margin-bottom: 10px;
}

.settings__group {
    box-sizing: border-box;
    width: 120px;
    position: relative;
    display: block;
    margin: 0 15px 15px 0;
}

.settings__group__name {
    display: block;
    text-align: center;
    font-style: italic;
}

.settings__group__button {
    box-sizing: border-box;
    display: block;
    background: transparent;
    width: 120px;
    padding: 2px 5px;
    border: solid 1px grey;
    border-radius: 6px;
    margin: 5px 10px 5px 0;
    overflow: hidden;
    &.settings__group__button--active {
        background-color: #b1e2e2;
    }
    &.settings__group__button--deniedto {
        width: 100px;
        margin-left: 20px;
    }
    &.settings__group__button--hide {
        display: none;
    }
    &.settings__group__button--hide-all,
    &.settings__group__button--clear,
    &.settings__group__button--collapse {
        width:75px;
    }
}
.settings__group__dropdown {
    position:relative;
    display: inline-block;
    // background: transparent;
    background-color:#b1e2e2;
    width:120px;
    // padding: 2px 5px;
    border: solid 1px grey;
    border-radius: 6px;
    margin: 5px;
    // &:after {
    //     content: "\e621";
    //     position:absolute;
    //     display:block;
    //     top: 0;
    //     right: 0;
    //     height:20px;
    //     height:20px;
    //     font-size: 20px;
    //     line-height:20px;
    // }
}